body {
	color: rgb(250, 247, 240);
	background-color: #241e38;
	text-align: center;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	padding-top: 50px;
	margin: auto;
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	opacity: 0%;
	text-shadow: 1px 1px #ec7639;
	transition: opacity 2s ease;
}

h2 {
	margin: auto;
	font-family: 'Caveat', cursive;
	font-size: 90px;
	opacity: 0%;
	text-shadow: 1px 1px #ec7639;
	transition: opacity 2s ease;
}

.top-banner {
	background-image: url(./Assets/sunset.png);
	background-size: cover;
	background-position: center center;
	min-height: 100vh;
	border-bottom: 3px solid #ec7639;
	transition: min-height 2s ease;
}

/* Main sections */

.box {
	display: flex;
	box-sizing: border-box;
	padding: 15px;
	justify-content: space-between;
	align-items: center;
	background-color: #241e38;
	border: solid;
	border-radius: 300px;
	border-width: 3px;
	border-color: #ec7639;
	width: 85%;
	max-width: 1400px;
	margin: 50px auto;
}

.blurb {
	font-size: 22px;
	text-shadow: 1px 1px black;
	padding: 10px 30px;
}

/* Video containers */

.rounded-vid-container {
	width: 280px;
	height: 280px;
	border-radius: 140px;
	overflow: hidden;
	flex-shrink: 0;
	flex-grow: 0;
	transition: width 1s ease, height 1s ease, border-radius 1s ease;
}

.video1 {
	transform: scale(1.1);
	height: 100%;
	position: relative;
	top: -14px;
	left: -14px;
}

.video2 {
	transform: scale(1.1);
	width: 100%;
	position: relative;
	left: -14px;
}

.video3 {
	width: 100%;
}

/* Tilly's DNA pop-up */

.mixed-breed {
	cursor: pointer;
	text-decoration: underline;
}

.dna-image-popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00000080;
	text-align: center;
	z-index: 999;
}

.dna-image-popup img {
	max-width: 75vh;
	max-height: 75vh;
	margin: 12.5vh auto;
	display: block;
	box-shadow: 0 0 10px 5px #ec7639;
}

 /* Youtube video pop-up */

 .popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

.popup-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Footer Buttons */

.all-buttons {
	display: flex;
	justify-content: center;
}

.button {
	background-color: #241e38;
	border: solid;
	border-radius: 30%;
	border-width: 2px;
	border-color: #3c80b8;
	color: white;
	padding: 15px 32px;
	text-align: center;
	font-size: 16px;
	transition-duration: 0.4s;
	margin: 30px 50px 70px;
}

.button:hover {
	background-color: #414572;
	color: white;
	cursor: pointer;
}

.button:focus {
	background-color: #ec7639;
	outline: none;
}

footer {
	margin: 10px;
	font-size: 12px;
}

a {
	color: rgb(250, 247, 240);
}

/* Responsive Transitions */

@media (max-width: 1280px) {
	.blurb {
		font-size: 16px;
	}

	.rounded-vid-container {
		width: 140px;
		height: 140px;
		border-radius: 70px;
	}

	.video1 {
		transform: scale(1.2);
		top: -14px;
	}

	.video2 {
		transform: scale(1.1);
		left: -7px;
	}
}

@media (max-width: 768px) {
	.box {
		flex-direction: column;
		align-items: center;
	}

	.blurb {
		padding: 5px 30px 30px 30px;
		text-align: center;
	}

	.rounded-vid-container {
		order: -1;
	}

	.all-buttons {
		flex-direction: column;
		align-items: center;
	}

	.button {
		margin: 10px;
	}
}
